* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 125px;
  width: 100%;


  background-image: url("Images/Header.png");
  background-size: 125vh;
  background-position: 10px;
  background-repeat: repeat-x;
}

.header a {
  color: black;

  margin-left: 50px;
  margin-right: 50px;

  margin-bottom: 10px;

  text-align: end;
  text-decoration: none;
  font-size: 4vh;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/* Style the active/current link*/
.header a.active {
  background-color: rgb(63, 3, 3);
  color: white;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a{
    display: none;
  }

}