.underline {
    display: block;
    resize: none;

    color: black;
    line-height: 50px;
    padding: 11px 50px 0 50px;
    font-family: 'Marck Script', cursive;

    background-color: #FBEEDB;

    border-width: 3px;
    border-style: solid;
    border-color: rgb(128,89,49);

    border-radius: 0 32px 0 32px;

    background-image: -webkit-linear-gradient(top,
            transparent,
            transparent 49px,
            rgba(0, 0, 0, 0.80) 0);


    -webkit-background-size: 100% 50px;
    background-size: 100% 50px;
}

.blockHeader{
    text-align: center;
    font-size: 34px;
    text-decoration: underline blue;
}
.Content{
    font-size: 30px;
    white-space: pre-line
}