div.dot {
    align-self: center;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    background: yellow;
    background: -webkit-linear-gradient(#B07D48, #805931);
    background: -o-linear-gradient(#B07D48, #805931);
    background: -moz-linear-gradient(#B07D48, #805931);
    background: linear-gradient(#B07D48, #805931);
}

div.box{
    align-self: center;
    padding: 10px;
    border-radius: 5%;
    display: inline-block;
    background: yellow;
    background: -webkit-linear-gradient(#B07D48, #805931);
    background: -o-linear-gradient(#B07D48, #805931);
    background: -moz-linear-gradient(#B07D48, #805931);
    background: linear-gradient(#B07D48, #805931);
}
.box .Image{
    height: 99%;
    width: 99%;
    border-radius: 5%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0px;
}

.dot .Image {
    height: 99%;
    width: 99%;
    border-radius: 50%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0px;
}